<!DOCTYPE html>  
<html xmlns:th="http://www.thymeleaf.org">  
    <head>  
        <title>Rabbit Index</title>
        <script th:src="@{/static/jquery/js/jquery-3.2.1.min.js}"></script>
    	<script th:src="@{/static/WEBSOCKET/js/sockjs-1.1.2.min.js}"></script>
    </head>
    <body>
        <div th:replace="fragment/header"></div>
        <h1 style="text-align: center;">Rabbit  1.0.1</h1>
        <hr>
        
		<a href="javascript:getQRCodeUrl()">GetQRCode</a> | 
		<a href="javascript:sendTemplateMessage()">SendTemplateMessage</a> |
		<a href="javascript:getQRCodeUrl()">GetQRCode2BindWechat</a>
		<hr>
		<img id="qrcode" style="widows: 400px;height: 400px;border: 1px solid black;">
    </body>
    
    <script type="text/javascript">
   	//该段JS主要用于给特定用户发送特定模板消息
   	// 1. 获取需要接受消息的用户，并获取其openId
   	// 2. 判断选用模板Id
   	// 3. 调用后台程序进行发送，返回boolean类型结果，是否发送成功
    	var openId = "oQFmP0-K4IvdQvocmDHiJ5aPn9Uk";
   	
		// ovJ_C1J964Y_BKS08GyMN7jXa5eI 蹇
    	// ovJ_C1LJlrm5Xl42ObHTI_u1IlLM 韩
    	// ovJ_C1NMVsJ4AjrEglyj2lDn2gh4   王
    	
    	function sendTemplateMessage() {
	    	$.get(hostUrl + "wechat/sendTemplateMessage?openId=" + openId, null, function(data) {
    			alert(data ? 'succeed!' : 'failed!');
    		});
    	}
    
    </script>
    
    <script type="text/javascript">
    // 该段JS主要用于帮助用户在扫码成功后关注服务号，并能够实现自动登录网站
 	// 1. 用户加载登录页面，JS自动生成unicode，并且2秒钟后自动发送给websocket服务器将unicode存储在WebSocketSession中
	// 2. 用户点击微信扫码按钮，将unicode用作sceneId随机生成二维码，并在当前页面不跳转的情况下显示给当前用户
	// 3. 用户扫码后，微信服务号后台获取到unicode作为的sceneId，通知websocket服务器，让它给有session中unicode值与传给它的unicode的值一致的session发送特定消息，将自动登录命令和openId一同发送过去
	// 4. 前台页面收到特定消息(自动登陆命令和openId)，自动帮助用户跳转登录
    
    	var unicode;
    	var hostUrl = "http://192.168.31.137:80/";
		var websocket = null;
		var transports = [];
		
		var url = hostUrl + 'sockjs'; 
		websocket = new SockJS(url, undefined, {transports: transports});
		
		websocket.onopen = function() {
			console.log('websocket: connection is opened');
		};
		websocket.onclose = function() {
			console.log('websocket: connection is closed');
		};
		websocket.onheartbeat = function() {
		    console.log('websocket: connection heartbeat...');
		};
		websocket.onmessage = function(e) {
// 			if (e.data.indexOf("AUTOMATIC_LOGIN") != -1) {
// 				websocket.onclose();
// 				helpToLoginAutomatically(e);
// 			} else 
			if (e.data.indexOf("BIND_WECHAT####") != -1) {
				console.log('websocket:', e.data)
				// BIND_WECHAT####openId
				// 前端获取到openId，将openId更新到当前用户cookie中
				
				// BIND_WECHAT####100001
				// 绑定失败：当前openId已经被使用过，也是就说同一个微信不能绑定多个用户
			} else {
				console.log('websocket:', e.data);
			}
		};
		
		// 1. 用户加载登录页面，JS自动生成unicode，并且2秒钟后自动发送给websocket服务器将unicode存储在WebSocketSession中
		$(function() {
// 			// 为了将当前session绑定到websocket服务器中
// 			unicode = Math.round(Math.random() * 100000000);
// 			setTimeout("websocket.send("+unicode+"1)", 2000); // 向websocket服务器发送message，与websocket服务器存储的特定session进行绑定
			
			// 为了将当前session标识为已登录但是未绑定微信的用户在个人中心绑定微信
			// 为了将当前session绑定到websocket服务器中
			unicode = Math.round(Math.random() * 100000000) + "2";
			setTimeout("websocket.send("+unicode+")", 2000); // 向websocket服务器发送message，与websocket服务器存储的特定session进行绑定
			var username = "beamofsoul"; // 此处为已登录用户用户名
			setTimeout("websocket.send('BIND_WECHAT####beamofsoul')", 2000);
	    }); 
		// 2. 用户点击微信扫码按钮，将unicode用作sceneId随机生成二维码，并在当前页面不跳转的情况下显示给当前用户
		function getQRCodeUrl() {
			$.get(hostUrl + "wechat/getQRCode?sceneId=" + unicode, null, function(url) {
				$("#qrcode").attr("src", url);
			});
		}
		// 4. 前台页面收到特定消息(自动登陆命令和openId)，自动帮助用户跳转登录
		function helpToLoginAutomatically(e) {
			var mixedValues = e.data.split('####');
			var openId = mixedValues[1]; // 用户的openId
			var sceneId = 911; // 登录系统默认场景值
			// 关闭二维码
			// 通过ajax访问后台认证并登录
			$.get(hostUrl + 'oauth/token?client_id=client_hm&client_secret=123456&grant_type=password&username='+openId+'&password='+sceneId, null, result => {
				console.log(result); // 成功获取access_token
				var access_token = result.access_token;
				$.get(hostUrl + "open/user/login?access_token="+access_token+"&username="+openId+"&password="+sceneId, null, result1 => {
					console.log(result1); // 成功登录并获取到登录用户信息
				});
			});
		}
	</script>
</html>  